
item {
	color:grey;
	display: block;
	border-bottom: 2;
	text-align: right;
}
item:before{
    content: attr(template);
    color: #0062ff;
    display: block;
    position: absolute;
    font-variant: small-caps;
    font-weight: bold;
}

field {
	padding-right: 10px;
} 

item[template="authority"] {

	border-color: black;
	border-style: solid;
	padding: 30px;
}

item[template="municipalauthority"] {
	background-color:  	#8FBC8F;
    border-color: black;
	border-style: solid;
	padding: 30px;
}


item[template="municipalgroupauthority"] {
	background-color:  	#DCDCDC;
    border-color: blue;
	border-style: solid;
	padding: 30px;
}

item[template="emailcontactchannel"] {
	background-color: powderblue;	
	font-style: italic;
	color: blue;
    border-color: blue;
	border-style: solid;	
}

item[template="websitecontactchannel"] {
	background-color: powderblue;	
	font-style: italic;
	color: blue;
    border-color: blue;
	border-style: solid;	
}

item[template="telephonecontactchannel"] {
	background-color: powderblue;	
	font-style: italic;
	color: blue;
    border-color: blue;
	border-style: solid;	
}
item[template="faxcontactchannel"] {
	background-color: powderblue;	
	font-style: italic;
	color: blue;
    border-color: blue;
	border-style: solid;	
}

item[template="visitingaddresscontactchannel"] {
	background-color: powderblue;	
	font-style: italic;
	color: blue;
    border-color: blue;
	border-style: solid;	
}

field[key="__display name"] {
	font-style: bold;
	font-size: large; 
	color: black;
	display: block;
		text-align: left;
} 

field[key="__updated by"] {
	display: none;
} 

field[key="__revision"] {
	display: none;
} 

field[key="__created"] {
	display: none;
}

field[key="__updated"] {
	display: none;
}


item[template="contactpoint"] {
	background-color: yellow;
	color: red;
    border-color: red;
	border-style: solid;
	padding: 30px;	
}
